// Load stylesheets from NPM modules
@import "~framework7/dist/css/framework7.ios.css";
@import "~framework7/dist/css/framework7.ios.colors.css";

// Load local stylesheets
@import "ionicons/ionicons.scss";
@import "navbar.scss";
@import "toolbar.scss";
